[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/mhz/vim-matchit.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vim/bundle/code_complete"]
	path = vim/bundle/code_complete
	url = https://github.com/vim-scripts/code_complete.git
[submodule "vim/bundle/css_color"]
	path = vim/bundle/css_color
	url = https://github.com/bjeanes/vim-css-color.git
[submodule "vim/bundle/omnicppcomplete"]
	path = vim/bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/mrtazz/molokai.vim.git
